*
  box-sizing: border-box

body
  margin: 0 auto

.section
  max-width: 1920px
  margin: 0
  position: relative

  &-title
    position: absolute
    top: -52px
    display: flex
    justify-content: center
    align-items: center
    width: 244px
    height: 58px
    +semibold
    background-color: $main-color
    text-transform: uppercase
    font-size: 28px
    line-height: 28px

.container
  width: 1200px
  margin: 0 auto

.button
  background-color: $main-color
  text-transform: uppercase
  border: none
  color: $text-color