*
  box-sizing: border-box

body
  margin: 0 auto

input, button, a
  outline: none

a
  cursor: pointer

.section
  max-width: 1920px
  margin: 0
  position: relative

  &-title
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 244px
    height: 58px
    +semibold
    background-color: $main-color
    text-transform: uppercase
    font-size: 28px
    line-height: 28px
    z-index: 10

.container
  width: 1200px
  margin: 0 auto

.button
  background-color: $main-color
  text-transform: uppercase
  border: none
  color: $text-color
  &:hover
    cursor: pointer
    color: $bgc-color-1
    background-color: $text-color

.form
  width: 397px
  display: flex
  flex-direction: column 
  align-items: center
  background-color: $bgc-color-1
  box-shadow: 3px -2px 20px -3px $text-color
  padding-top: 45px
  padding-bottom: 58px

  &__title
    +extrabold
    font-size: 20px
    line-height: 28px
    text-transform: uppercase

    &_yellow
      color: $main-color

  &__name, &__phone
    +reg
    width: 305px
    font-size: 18px
    line-height: 28px
    color: $text-color
    border: $text-color 1px solid
    border-top-style: none
    border-right-style: none
    border-left-style: none
    margin-top: 35px

    &:placeholder-shown
      +reg-italic
      font-size: 18px
      line-height: 28px
      opacity: 0.65
      color: $text-color

  &__button
    +semibold
    font-size: 20px
    line-height: 28px
    width: 304px
    height: 58px
    margin-top: 65px

input
  padding-left: 10px
  &.invalid
    border: 1px solid red

// Сообщение об ошибке
div.invalid
  +semibold
  position: absolute
  font-size: 12px
  color: red

#form-name-error
  &.invalid
    left: 50px
    top: 94px

#form-phone-error
  &.invalid
    left: 50px
    top: 161px
    
.text-shadow
  text-shadow: -2px -2px $text-shadow-color, -2px 2px $text-shadow-color, 2px -2px $text-shadow-color, 2px 2px $text-shadow-color

.underline
  background-size: 1px 1em
  box-shadow: inset 0 -0.175em $text-shadow-color, inset 0 -0.205em $text-color
  display: inline

.hidden
  visibility: hidden

.modal
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $bgc-color-2

  &-dialog
    position: relative
    display: flex
    justify-content: center
    text-align: center
    width: 500px
    height: 200px
    margin: 0 auto
    margin-top: 10%
    background-color: $main-color
    padding-top: 25px

    &__text
      +thin
      font-size: 25px
      max-width: 400px
      line-height: 1.2

    &__close
      position: absolute
      top: 0
      right: 0
      width: 40px
      height: 40px
      text-align: center
      +extrabold
      font-size: 40px
      line-height: 1
      color: $bgc-color-1
      background-color: $main-color
      padding: 0
      border-style: none
      cursor: pointer
      &:hover
        box-shadow: -3px 3px 0 0 $bgc-color-1

@media (max-width: 1300px)
  .container
    width: 1100px

  .section
    max-width: 1300px

@media (max-width: 1199px)
  .container
    width: 750px

  .section
    max-width: 1199px

    &-title
      font-size: 23px
      width: 200px
  
  .form
    width: 300px

    &__title
      font-size: 18px

    &__name, &__phone
      font-size: 16px
      width: 220px
      margin-top: 25px
      letter-spacing: -0.3px

      &:placeholder-shown
        font-size: 16px

    &__name
      margin-top: 30px

    &__button
      font-size: 18px
      width: 220px
      height: 50px
      margin-top: 50px

  input
    padding-left: 2px

  // Сообщение об ошибке
  #form-name-error
    &.invalid
      left: 45px
      top: 88px

  #form-phone-error
    &.invalid
      left: 45px
      top: 145px

@media (max-width: 992px)
  .button
    &:hover
      cursor: default
      color: $text-color
      background-color: $main-color

  a
    cursor: default

@media (max-width: 768px)
  .container
    width: 550px
    position: relative
  
  .section
    &-title
      position: relative
      width: 180px
      height: 50px
      font-size: 21px
      line-height: 2
      margin: 0 auto

@media (max-width: 567px)
  .container
    max-width: 290px

  .section
    &-title
      width: 150px
      height: 45px
      font-size: 18px
      line-height: 2

  .form
    width: 270px
    padding-top: 40px
    padding-bottom: 35px
    box-shadow: 0px 0px
    border: 3px solid $main-color

    &__title
      font-size: 16px
      line-height: 1.2

    &__name, &__phone
      width: 200px
      font-size: 14px
      line-height: 1.2
      margin-top: 25px
      background-color: transparent
      letter-spacing: 0.1px

      &:placeholder-shown
        font-size: 14px
        line-height: 1.2

    &__name
      margin-top: 30px

    &__button
      font-size: 14px
      line-height: 1.2
      width: 130px
      height: 45px
      margin-top: 40px

  .modal
    &-dialog
      width: 280px
      height: 190px
      padding-top: 35px
      margin-top: 20%

      &__text
        +semibold
        font-size: 18px
        max-width: 240px

      &__close
        font-size: 35px
        &:hover
          box-shadow: 0 0 0

  // Сообщение об ошибке
  div.invalid
    font-size: 10px

  #form-name-error
    &.invalid
      left: 35px
      top: 77px

  #form-phone-error
    &.invalid
      left: 35px
      top: 122px