.advantages
  &-section
    position: relative
    padding-top: 143px

  &__bgc
    position: absolute
    bottom: 0
    left: 0
    width: 61%
    height: 0
    background-color: $bgc-color-2
    z-index: -1

  &__title
    top: 90px

  &-block
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 95px 0 60px 32px

  &__images
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 665px

  &__image
    display: flex
    justify-content: center
    align-items: center
    width: 55px
    height: 51px
    margin-top: 16px
    margin-bottom: 20px

  &__item
    width: 198px
    height: 168px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin-bottom: 36px
    background-color: $bgc-color-1

  &__text
    +semibold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    max-width: 198px

.list
  &-block
    list-style: none
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin: 0
    padding-top: 4px
    padding-bottom: 36px

  &__item
    width: 412px
    display: flex
    align-items: flex-start
    &:first-child
      margin-bottom: 66px
    &:nth-child(2)
      margin-bottom: 65px
    &:nth-child(3)
      margin-bottom: 90px

  &__dash
    margin: 12px 16px auto 13px

  &__text
    +semibold
    font-size: 20px
    line-height: 25px
    margin: 0

  &__counter
    min-width: 22px
    +extrabold
    color: $main-color
    font-size: 35px
    line-height: 25px
    text-transform: uppercase

@media (max-width: 1300px)
  .advantages
    &__item
      width: 160px
      height: 135.75px

    &__images
      max-width: 550px

    &__text
      font-size: 16px
      letter-spacing: -0.25px
      line-height: 1.2
      max-width: 160px

  .list
    &-block
      padding-top: 0

    &__item
      &:first-child
        margin-bottom: 40px
      &:nth-child(2)
        margin-bottom: 40px
      &:nth-child(3)
        margin-bottom: 70px

    &__counter
      font-size: 32px

    &__text
      font-size: 19px
      letter-spacing: -0.3px

@media (max-width: 1199px)
  .advantages
    &__title
      top: 94px

    &-block
      flex-direction: column
      padding-bottom: 30px

  .list
    &-block
      flex-direction: row
      flex-wrap: wrap
      padding-top: 60px
      padding-bottom: 0

    &__item
      width: 45%
      margin-bottom: 40px
      align-items: center
      &:first-child
        margin-bottom: 40px
      &:nth-child(2)
        margin-bottom: 40px
      &:nth-child(3)
        margin-bottom: 40px
      &:nth-child(odd)
        margin-right: 40px

    &__counter
      margin-right: 20px

    &__dash
      display: none

@media (max-width: 768px)
  .advantages
    &-section
      padding-top: 100px

    &-block
      flex-wrap: wrap
      padding: 40px 30px 60px 30px
      width: 550px
      margin: 0 auto
      
    &__title
      top: -24px

    &__images
      justify-content: center

    &__item
      width: 198px
      height: 168px
      margin: 20px

    &__text
      font-size: 16px
      letter-spacing: 0.35px
      line-height: 1.2
      max-width: 198px

    &__list
      margin-top: 20px

  .list
    &-block
      flex-direction: column
      padding-top: 30px

    &__item
      width: 100%
      align-items: flex-start
      &:first-child
        .list__text
          max-width: 360px
      &:nth-child(3)
        margin-bottom: 70px

    &__dash
      display: inline-block

    &__counter
      margin-right: 0

@media (max-width: 567px)
  .advantages
    &-block
      width: 290px
      padding-bottom: 50px

    &__text
      font-size: 14px
      max-width: 150px

    &__item
      margin: 15px 0

    &__image
      margin-top: 30px

    &__list
      margin-top: 0

  .list
    &-block
      padding-left: 0
      
    &__item
      text-align: center
      width: 100%
      flex-direction: column
      align-items: center
      margin-bottom: 20px
      &:nth-child(3)
        margin-bottom: 40px

    &__dash
      margin: 5px 0

    &__text
      font-size: 15px
      line-height: 1.2

    &__counter
      font-size: 26px