.brif
  &-section
    position: relative
    height: 666px

  &__form
    position: absolute
    top: 141px
    left: 7.8%
    z-index: 10

@media (max-width: 1199px)
  .brif
    &__form
      left: 8%

@media (max-width: 768px)
  .brif
    &-section
      height: 900px
    &__form
      top: 80px
      left: 0
      right: 0
      margin: 0 auto

@media (max-width: 567px)
  .brif
    &-section
      height: 750px

    &__form
      top: 70px