.general
  &-section
    .my-dots
      bottom: 28px
      padding-left: 30px
      
  &__item
    position: relative
    background: url('../img/general/general-bgc.jpg') no-repeat
    background-size: cover
    padding-top: 180px
    padding-bottom: 270px
    padding-left: 55px

  &__title
    color: $main-color
    +semibold
    font-size: 35px
    line-height: 1.2
    text-transform: uppercase
    margin-bottom: 10px
    letter-spacing: 0.15px
  
  &__subtitle
    color: $bgc-color-1
    +thin
    font-size: 35px
    line-height: 1.2
    margin-top: 0
    letter-spacing: 0.35px
    margin-bottom: 23px

  &__text
    opacity: 0.42
    color: $bgc-color-1
    +reg
    font-size: 20px
    line-height: 28px
    letter-spacing: -0.1px
    max-width: 1150px

  &__button
    display: block
    width: 185px
    height: 44px
    +semibold
    font-size: 18px
    line-height: 40px
    margin-top: 50px