@font-face {
  font-family: 'Proxima Nova Cn Rg';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond/ProximaNovaCond-Regular.eot");
  src: local("Proxima Nova Condensed Regular"), local("ProximaNovaCond-Regular"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Bold.eot");
  src: local("Proxima Nova Extra Condensed Bold"), local("ProximaNovaExCn-Bold"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Bold.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Bold.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Lt';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Semibold.eot");
  src: local("Proxima Nova Extra Condensed Semibold"), local("ProximaNovaExCn-Semibold"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Semibold.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Semibold.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Semibold.svg#ProximaNovaExCn-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Regular.eot");
  src: local("Proxima Nova Extra Condensed Regular"), local("ProximaNovaExCn-Regular"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Regular.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova - Extrabold';
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn Lt';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.eot");
  src: local("Proxima Nova Condensed Semibold"), local("ProximaNovaCond-Semibold"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-LightIt.eot");
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-LightIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-LightIt.svg#ProximaNova-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Lt';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-LightIt.eot");
  src: local("Proxima Nova Condensed Light Italic"), local("ProximaNovaCond-LightIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-LightIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-LightIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-LightIt.svg#ProximaNovaCond-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Rg';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-RegularIt.eot");
  src: local("Proxima Nova Condensed Regular Italic"), local("ProximaNovaCond-RegularIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-RegularIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-RegularIt.svg#ProximaNovaCond-RegularIt") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Rg';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-BoldIt.eot");
  src: local("Proxima Nova Condensed Bold Italic"), local("ProximaNovaCond-BoldIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BoldIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BoldIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BoldIt.svg#ProximaNovaCond-BoldIt") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Th';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Extrabld.eot");
  src: local("Proxima Nova Condensed Extrabold"), local("ProximaNovaCond-Extrabld"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Extrabld.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Extrabld.svg#ProximaNovaCond-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn Rg';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Bold.eot");
  src: local("Proxima Nova Condensed Bold"), local("ProximaNovaCond-Bold"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Bold.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Bold.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Th';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Extrabld.eot");
  src: local("Proxima Nova Extra Condensed Extrabold"), local("ProximaNovaExCn-Extrabld"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Extrabld.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Extrabld.svg#ProximaNovaExCn-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn Bl';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-BlackIt.eot");
  src: local("Proxima Nova Condensed Black Italic"), local("ProximaNovaCond-BlackIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BlackIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BlackIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-BlackIt.svg#ProximaNovaCond-BlackIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("../fonts/ProximaNovaT/ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("../fonts/ProximaNovaT/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaT/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT/ProximaNovaT-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaT/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNova/ProximaNova-ThinIt.eot");
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-ThinIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-ThinIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ThinIt.svg#ProximaNova-ThinIt") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Th';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ExtrabldIt.eot");
  src: local("Proxima Nova Extra Condensed Extrabold Italic"), local("ProximaNovaExCn-ExtrabldIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ExtrabldIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ExtrabldIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ExtrabldIt.svg#ProximaNovaExCn-ExtrabldIt") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BoldIt.eot");
  src: local("Proxima Nova Extra Condensed Bold Italic"), local("ProximaNovaExCn-BoldIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BoldIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BoldIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BoldIt.svg#ProximaNovaExCn-BoldIt") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Th';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ThinIt.eot");
  src: local("Proxima Nova Extra Condensed Thin Italic"), local("ProximaNovaExCn-ThinIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ThinIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ThinIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-ThinIt.svg#ProximaNovaExCn-ThinIt") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Th';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Thin.eot");
  src: local("Proxima Nova Extra Condensed Thin"), local("ProximaNovaExCn-Thin"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Thin.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Thin.svg#ProximaNovaExCn-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-RegularIt.eot");
  src: local("Proxima Nova Extra Condensed Regular Italic"), local("ProximaNovaExCn-RegularIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-RegularIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-RegularIt.svg#ProximaNovaExCn-RegularIt") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Lt';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Light.eot");
  src: local("Proxima Nova Extra Condensed Light"), local("ProximaNovaExCn-Light"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Light.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Light.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Light.svg#ProximaNovaExCn-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Bl';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BlackIt.eot");
  src: local("Proxima Nova Extra Condensed Black Italic"), local("ProximaNovaExCn-BlackIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BlackIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BlackIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-BlackIt.svg#ProximaNovaExCn-BlackIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Th';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-ThinIt.eot");
  src: local("Proxima Nova Condensed Thin Italic"), local("ProximaNovaCond-ThinIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ThinIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ThinIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ThinIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ThinIt.svg#ProximaNovaCond-ThinIt") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Bl';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Black.eot");
  src: local("Proxima Nova Extra Condensed Black"), local("ProximaNovaExCn-Black"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Black.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Black.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-Black.svg#ProximaNovaExCn-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova ExCn Lt';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-SemiboldIt.eot");
  src: local("Proxima Nova Extra Condensed Semibold Italic"), local("ProximaNovaExCn-SemiboldIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-SemiboldIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-SemiboldIt.svg#ProximaNovaExCn-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url("../fonts/ProximaNova/ProximaNova-BlackIt.eot");
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BlackIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BlackIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-BlackIt.svg#ProximaNova-BlackIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Thin';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Thin.eot");
  src: local("Proxima Nova Condensed Thin"), local("ProximaNovaCond-Thin"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Thin.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Thin.svg#ProximaNovaCond-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg Italic';
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Bold It';
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot");
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Lt';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-SemiboldIt.eot");
  src: local("Proxima Nova Condensed Semibold Italic"), local("ProximaNovaCond-SemiboldIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-SemiboldIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-SemiboldIt.svg#ProximaNovaCond-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova ExCn Lt';
  src: url("../fonts/ProximaNovaExCn/ProximaNovaExCn-LightIt.eot");
  src: local("Proxima Nova Extra Condensed Light Italic"), local("ProximaNovaExCn-LightIt"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-LightIt.woff") format("woff"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-LightIt.ttf") format("truetype"), url("../fonts/ProximaNovaExCn/ProximaNovaExCn-LightIt.svg#ProximaNovaExCn-LightIt") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Cn Lt';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Light.eot");
  src: local("Proxima Nova Condensed Light"), local("ProximaNovaCond-Light"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Light.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Light.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Light.svg#ProximaNovaCond-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn Bl';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Black.eot");
  src: local("Proxima Nova Condensed Black"), local("ProximaNovaCond-Black"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Black.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Black.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-Black.svg#ProximaNovaCond-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Cn Th';
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-ExtrabldIt.eot");
  src: local("Proxima Nova Condensed Extrabold Italic"), local("ProximaNovaCond-ExtrabldIt"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ExtrabldIt.woff") format("woff"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ExtrabldIt.ttf") format("truetype"), url("../fonts/ProximaNovaCond/ProximaNovaCond-ExtrabldIt.svg#ProximaNovaCond-ExtrabldIt") format("svg");
  font-weight: 800;
  font-style: italic;
}

.my-dots {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  padding: 0;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: #ffffff;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
  cursor: pointer;
}

.my-dots li button:before {
  content: '';
}

.my-dots li.slick-active button {
  background: #ffc800;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
}

input, button, a {
  outline: none;
}

a {
  cursor: pointer;
}

.section {
  max-width: 1920px;
  margin: 0;
  position: relative;
}

.section-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 244px;
  height: 58px;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  background-color: #ffc800;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #ffc800;
  text-transform: uppercase;
  border: none;
  color: #000000;
}

.form {
  width: 397px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 3px -2px 20px -3px #000000;
          box-shadow: 3px -2px 20px -3px #000000;
  padding-top: 45px;
  padding-bottom: 58px;
}

.form__title {
  font-family: 'Proxima Nova - Extrabold';
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.form__title_yellow {
  color: #ffc800;
}

.form__name, .form__phone {
  font-family: 'Proxima Nova Regular';
  width: 305px;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  border: #000000 1px solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  margin-top: 35px;
}

.form__name:placeholder-shown, .form__phone:placeholder-shown {
  font-family: 'Proxima Nova Rg Italic';
  font-size: 18px;
  line-height: 28px;
  opacity: 0.65;
  color: #000000;
}

.form__button {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 20px;
  line-height: 28px;
  width: 304px;
  height: 58px;
  margin-top: 65px;
  cursor: pointer;
}

.header-block {
  max-width: 1920px;
  margin: 0;
}

.header__bgc {
  margin-right: 0;
}

.header__navbar {
  height: 82px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 34.1%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.55);
  z-index: -1;
}

.navbar__logo {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__text {
  position: relative;
  margin: 0 27px;
  font-family: 'Proxima Nova Regular';
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.navbar__text:hover, .navbar__text:active {
  color: #ffc800;
}

.navbar__text:hover:after, .navbar__text:active:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 2px;
  background-color: #ffc800;
  margin-bottom: -3px;
  margin-left: -98%;
}

.navbar__text:before {
  content: '';
  position: absolute;
  bottom: 4px;
  width: 1px;
  height: 12px;
  margin-left: -30px;
  background-color: #d9d9d9;
}

.navbar__text:first-child:before {
  display: none;
}

.navbar__menu {
  margin-left: 20px;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2px;
}

.logo__text {
  font-family: 'Proxima Nova Bold It';
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}

.info__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 45px;
  margin-top: -5px;
}

.info__image {
  margin-right: 5px;
  margin-top: 13px;
}

.info__text {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}

.info__text_reg {
  font-family: 'Proxima Nova Regular';
}

.info__button {
  width: 138px;
  height: 30px;
  font-family: 'Proxima Nova Regular';
  font-size: 14px;
  line-height: 1.4;
  text-transform: none;
  margin-top: 2px;
}

.general-section .my-dots {
  bottom: 28px;
  padding-left: 30px;
}

.general__item {
  position: relative;
  background: url("../img/general/general-bgc.jpg") no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 270px;
  padding-left: 55px;
}

.general__title {
  color: #ffc800;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 35px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.15px;
}

.general__subtitle {
  color: #ffffff;
  font-family: 'Proxima Nova Thin';
  font-size: 35px;
  line-height: 1.2;
  margin-top: 0;
  letter-spacing: 0.35px;
  margin-bottom: 23px;
}

.general__text {
  opacity: 0.42;
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.1px;
  max-width: 1150px;
}

.general__button {
  display: block;
  width: 185px;
  height: 44px;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 18px;
  line-height: 40px;
  margin-top: 50px;
}

.services__bgc {
  margin-top: 133px;
  background: rgba(241, 241, 241, 0.55);
  padding-top: 105px;
  padding-bottom: 97px;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 32px;
}

.services__title {
  top: -52px;
}

.services__item {
  width: 377px;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
  text-align: center;
  background-color: #ffc800;
  background-size: cover;
  background-repeat: no-repeat;
}

.services__item:nth-child(1), .services__item:nth-child(4) {
  background-image: url("../img/services/radiator.jpg");
}

.services__item:nth-child(2), .services__item:nth-child(5) {
  background-image: url("../img/services/plumber.jpg");
}

.services__item:nth-child(3), .services__item:nth-child(6) {
  background-image: url("../img/services/pipes.jpg");
}

.services__item:hover .services__text {
  color: #000000;
}

.services__item:hover .services__button {
  font-family: 'Proxima Nova Thin';
  background-color: #000000;
  color: #ffffff;
}

.services__text {
  color: #ffffff;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  line-height: 26px;
  margin-top: 58px;
  margin-bottom: 25px;
}

.services__button {
  width: 138px;
  height: 33px;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 15px;
}

.advantages-section {
  padding-top: 143px;
}

.advantages__bgc {
  margin-left: 0;
}

.advantages__title {
  top: 90px;
}

.advantages-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 95px 0 60px 32px;
}

.advantages-block:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 63%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.55);
  z-index: -1;
}

.advantages__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 665px;
}

.advantages__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 51px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.advantages__item {
  width: 198px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 36px;
  background-color: #ffffff;
}

.advantages__text {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

.list-block {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
}

.list__item {
  width: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list__dash {
  margin: 12px 16px auto 13px;
}

.list__text {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.list__counter {
  min-width: 22px;
  font-family: 'Proxima Nova - Extrabold';
  color: #ffc800;
  font-size: 35px;
  line-height: 25px;
  text-transform: uppercase;
}

.reviews-section .my-dots {
  padding-top: 78px;
  padding-right: 30px;
}

.reviews__bgc {
  margin-top: 140px;
  background: #000000;
  padding-top: 102px;
  padding-bottom: 135px;
}

.reviews__title {
  top: -52px;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-top: 10px;
}

.reviews__item {
  position: relative;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 3px;
}

.reviews__item:before {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-style: none;
  background-image: url("../img/reviews/quotes.png");
  background-size: cover;
  margin-top: -2px;
  margin-left: 35px;
}

.reviews__name {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffc800;
  margin-top: 10px;
}

.reviews__text {
  max-height: 87px;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 15px 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
}

.likes img {
  display: inline-block !important;
}

.likes__count {
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  margin-left: 4px;
}

.slide:nth-child(even) .reviews__item {
  float: right;
}

.new__title {
  font-family: 'Proxima Nova - Semibold', sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.new__date {
  font-family: 'Proxima Nova Light';
  margin-right: 45px;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 4px;
}

.new__date_day {
  display: inline-block;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  background-color: #ffc800;
  width: 25px;
  height: 25px;
  text-align: center;
}

.news__bgc {
  margin-top: 145px;
  background: rgba(241, 241, 241, 0.55);
  padding-top: 90px;
  padding-bottom: 70px;
}

.news__title {
  top: -52px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
}

.news__item {
  max-width: 377px;
}

.news__item:hover .news__text {
  text-decoration: underline;
}

.news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__text {
  font-family: 'Proxima Nova Regular';
  max-width: 323px;
  max-height: 225px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.83;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__button {
  display: block;
  font-family: 'Proxima Nova - Semibold', sans-serif;
  width: 300px;
  height: 58px;
  margin: 50px auto 0 auto;
  font-size: 20px;
  line-height: 28px;
}

.text-shadow {
  text-shadow: -2px -2px #f1f1f1, -2px 2px #f1f1f1, 2px -2px #f1f1f1, 2px 2px #f1f1f1;
}

.underline {
  background-size: 1px 1em;
  -webkit-box-shadow: inset 0 -0.175em #f1f1f1, inset 0 -0.205em #000000;
          box-shadow: inset 0 -0.175em #f1f1f1, inset 0 -0.205em #000000;
  display: inline;
}

.brif-section {
  position: relative;
  height: 666px;
}

.brif__form {
  position: absolute;
  top: 141px;
  left: 7.8%;
}

.contacts-section {
  background-color: #000000;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 0 47px 30px;
}

.contacts__text {
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.contacts__text_small {
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.contacts__text_bold {
  font-family: 'Proxima Nova Bold';
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__address img {
  margin-right: 13px;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.contacts__site {
  margin: 0 5px;
}

.contacts__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.contacts__phone img {
  margin-right: 6px;
}

.contacts__mail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail img {
  margin-right: 8px;
}

.contacts__mail:after {
  content: '';
  position: absolute;
  top: 13px;
  right: -27px;
  width: 1px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.33;
}
/*# sourceMappingURL=style.css.map */